@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&family=Pangolin&display=swap');

body{
    height: 90vh;
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
}
